{% extends 'base.html' %}
{% block conteudo %}
<div id="conteudo">
    <h1>Tela de Sugestões</h1>

    <div id="sugestoes">
        <article >Este espaço está destinado para sugestões para o desenvolvimento do site, contribua com o seu crescimento. </article>
        <form method="POST">
            {% csrf_token %}
            <div id="pergunta" ><i class="fa fa-question" aria-hidden="true"></i>
            {{ formSS.pergunta }}
            </div>
            <div id="certa" ><i class="fa fa-check" aria-hidden="true"></i>
                {{ formSS.respostaCerta }}
            </div>
            <div id="errada" ><i class="fa fa-remove" aria-hidden="true"></i>
                {{ formSS.respostaErrada1 }}
            </div>
            <div id="errada" ><i class="fa fa-remove" aria-hidden="true"></i>
                {{ formSS.respostaErrada2 }}
            </div>
            <div id="errada" ><i class="fa fa-remove" aria-hidden="true"></i>
                {{ formSS.respostaErrada3 }}
            </div>
            <div id="errada" ><i class="fa fa-remove" aria-hidden="true"></i>
                {{ formSS.respostaErrada4 }}
            </div>
            <input type="submit" name="Enviar" value="Enviar">
        </form>
    </div>
</div>
{% endblock %}
    